# python extensions
*.pyc

# C extensions
*.so
*.o
*.elf
stm32f3.bin
stm32f3.elf
stm32f3.map
tags


# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

#gedit log
*~
